

{% extends "header_footer.html" %}

{% block scripts %}

{{super()}}

<script src="{{ url_for('static',filename='scripts/rsvpScripts.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/moment.js') }}"></script>

{% endblock %}


{% block content %}


<div id="page_content" class="container-fluid">

    <div class="row" id="form_title">Our RSVP form will let us know if you are able to attend the wedding!</div>

    <div class='row' id='form_note'>Come back and submit the form again if your plans change.</div>

    <form action="" method="post" onsubmit="return timestampSubmit();">
        {{ form.csrf_token }}
        
        <div id="guest_form" class="form-group">
            
            {% for person in form.guest %}
            <div id="person_number"> Guest {{ loop.index }} </div>

            <div class="row">
                {{ person.form.csrf_token }}

                <div class="col-md-6">
                    {{ person.form.first_name(class="form-control",  placeholder="First Name") }}

                    {% for error in person.form.first_name.errors %}
                    <span id="invalid_field"> {{ error }} </span>
                    {% endfor %}
                </div>

                <div class="col-md-6">
                    {{ person.form.last_name(class="form-control",  placeholder="Last Name") }}

                    {% for error in person.form.last_name.errors %}
                    <span id="invalid_field"> {{ error }} </span>
                    {% endfor %}
                </div>

                <div id="radio_choices" class="col-md-6 mr-auto mt-3" >
                {% for choice in person.form.response %}
                    <div class="form-check">
                        {{ choice(class="form-check-input") }}
                        {{ choice.label(class="form-check-label") }}
                    </div>
                {% endfor %}
                {% for error in person.form.response.errors %}
                <span id="invalid_field"> {{ error }} </span>
                {% endfor %}
                </div>
                <!-- Adding in the radio field and song request stuff next  -->
                <div id="song_request{{loop.index-1}}" class="col-12 song-request hide">
                    <span id="song_header" > We are looking for music suggestions for the reception. If you'd like to hear a certain song, let us know! This is optional. </span>
                    {{ person.form.song_request(class="form-control", style="margin-top:0px !important;", placeholder="Song - Artist") }}                    
                </div>

                <div hidden class='timestamp'>{{ person.form.timestamp() }}</div>
 
            </div>

            <div id="bottom_border"></div>
            {% endfor %}



        </div>
        <div id="rsvp_submit">
            <button class="btn btn-primary" formmethod="post" type="submit">Submit</button>
        </div>

    </form>


<script>
    function timestampSubmit() {
        let timestamp_divs = document.getElementsByClassName('timestamp');
        for( let div=0;div<timestamp_divs.length;div++) {
            let timestamp_input = timestamp_divs[div].children[0];
            let timestamp = moment();
            timestamp_input.value = timestamp.toISOString();
            
        }

        return true;
    }
</script>


</div>

{% endblock %}